<div class="container">
  <% if @v_results.nil? %>
    No Simulation results yet.
  <% else %>
    <h4 class="pt-3 pb-3 text-center">District System Performance Comparison</h4>
    <%= render 'result_table', v_results: @v_results %>
    <hr>
    <%= render 'result_chart', v_results_js: @v_results_js %>
  <% end %>
</div>