<div class="row">
  <div class="col-md-12">
    <div style="width: 100%">
      <canvas id="canvas"></canvas>
    </div>
    <script>
        var MMBTU_to_KWH = 293.071107;
        var v_results = JSON.parse('<%= v_results_js%>');
        var sys_labels = [];
        var sys_electricity_consumption = [];
        var sys_natural_gas_consumption = [];
        var sys_total_consumption = [];
        var sys_utility_cost = [];

        v_results.forEach(function (sys_result, index) {
            sys_labels.push(sys_result['sys_type']);
            sys_electricity_consumption.push(Math.round(sys_result['annual electricity']));
            sys_natural_gas_consumption.push(Math.round(sys_result['annual gas']));
            sys_utility_cost.push(Math.round(sys_result['annual utility cost']));
        });

        var barChartData = {
            labels: sys_labels,
            // labels: ['Baseline', 'System Type 1', 'System Type 2', 'System Type 3', 'System Type 4'],
            datasets: [{
                label: 'Annual Electricity Consumption (kWh)',
                backgroundColor: '#166a8f',
                yAxisID: 'y-axis-1',
                stack: 'stack 1',
                data: sys_electricity_consumption,
            }, {
                label: 'Annual Natural Gas Consumption (kWh)',
                backgroundColor: '#f67019',
                yAxisID: 'y-axis-1',
                stack: 'stack 1',
                data: sys_natural_gas_consumption,
            }, {
                label: 'Annual Utility Cost ($)',
                backgroundColor: '#49f650',
                yAxisID: 'y-axis-2',
                stack: 'stack 2',
                data: sys_utility_cost,
            }]
        };

        var options = {
            responsive: true,
            title: {
                display: true,
                text: 'Annual Energy Consumption Comparison',
                fontSize: 20,
            },
            tooltips: {
                mode: 'index',
                intersect: true
            },
            scales: {
                xAxes: [{
                    stacked: true,
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'kWh',
                    },
                    stacked: true,
                    position: 'left',
                    id: 'y-axis-1',
                    // ticks: {
                    //     beginAtZero: true
                    // },
                }, {
                    scaleLabel: {
                        display: true,
                        labelString: '$',
                    },
                    stacked: false,
                    position: 'right',
                    id: 'y-axis-2',
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        display: false,
                        drawOnChartArea: false
                    }
                }],
            }
        };

        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: options,
            });
        };
    </script>

  </div>
</div>