<!--##################################################################################################-->
<!--Time-series charts for heating, cooling demand and energy consumption-->
<!--##################################################################################################-->

<div class="row">
  <div class="col-md-12">
    <div id="ts_viz_container_1" style="width:100%; height:auto;"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="ts_viz_container_2" style="width:100%; height:auto;"></div>
  </div>
</div>






<!--##################################################################################################-->
<!--Some other charts for future work-->
<!--##################################################################################################-->
<br>
<div class="row" style="display: none">
  <div class="col-md-12">
    <div id="dummy_bar_viz_container" style="width:100%; height:auto;"></div>
  </div>
</div>
<br>
<div class="row" style="display: none">
  <div class="col-md-6">
    <div id="dummy_pie_viz_container_1" style="width:100%; height:auto;"></div>
  </div>
  <div class="col-md-6">
    <div id="dummy_pie_viz_container_2" style="width:100%; height:auto;"></div>
  </div>
</div>
