<div class="border border-primary">
  <span class="close border border-primary">close</span>
  <h1 class="text-center">Welcome</h1>
  <p>I'm in app/views/welcome/index.html.erb</p>
  <p>This will be the home page of this web-app.</p>
  <%= link_to 'District System', controller: 'district_systems' %>
</div>



